// primary
.primary {
  display: flex;
  align-items: center;
  justify-content: center;

  // width: 150px;
  // height: 36px;
  padding: 6px 28px;

  font-family: var(--font-family);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
  text-align: center;
  text-decoration: none;

  background-color: var(--color-accent-500);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 var(--color-accent-500);

  transition: 0.3s;
}

.primary:active {
  background-color: var(--color-accent-700);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  transition: 0.3s;
}

.primary:hover {
  background-color: var(--color-accent-300);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  transition: 0.3s;
}

.primary:focus {
  background: var(--color-accent-500, #8c61ff);
  outline: 2px solid var(--info-700, #2f68cc);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  transition: 0.2s;
}

.primary:disabled {
  color: var(--color-light-900);
  background-color: var(--color-accent-900);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
}

// secondary
.secondary {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 169px;
  height: 36px;
  padding: 6px 28px;

  color: var(--color-light-100);
  text-decoration: none;

  background-color: var(--color-dark-300);
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  transition: 0.3s;
}

.secondary:hover {
  background-color: var(--color-dark-100);
  transition: 0.3s;
}

.secondary:active {
  background-color: var(--color-dark-500);
  transition: 0.3s;
}

.secondary:focus {
  background-color: var(--color-dark-300);
  outline: 2px solid var(--color-info-700);
  transition: 0.3s;
}

.secondary:disabled {
  color: var(--color-light-900);
  background-color: var(--color-dark-300);
}

// tertiary
.tertiary {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 106px;
  height: 36px;
  padding: 8px 28px;

  color: var(--color-accent-500);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-accent-500);
  border-radius: 4px;

  transition: 0.3s;
}

.tertiary:hover {
  color: var(--color-accent-500);
  background-color: var(--color-dark-500);
  border-color: var(--color-accent-700);
  transition: 0.3s;
}

.tertiary:active {
  background-color: var(--color-accent-900);
  border-color: var(--color-accent-700);
  transition: 0.3s;
}

.tertiary:focus {
  width: 112px;
  height: 36px;

  font-weight: 500;
  color: var(--color-accent-500);

  outline: 1px solid var(--color-info-700);

  transition: 0.3s;
}

.tertiary:disabled {
  color: var(--color-accent-900);
  background-color: var(--color-dark-900);
  border-color: var(--color-accent-900);
}

// link
.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 84px;
  height: 36px;
  padding: 6px 0;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-accent-500);

  background-color: inherit;
  border: none;

  transition: 0.3s;
}

.link:hover {
  color: var(--color-accent-300);
  transition: 0.3s;
}

.link:active {
  color: var(--color-accent-700);
  transition: 0.3s;
}

.link:focus {
  color: var(--color-accent-500);
  border-radius: 130px;
  outline: 2px solid var(--color-info-700);
  transition: 0.3s;
}

.link:disabled {
  color: var(--color-accent-900);
}

// fullwidth
.fullWidth {
  width: 100%;
}
